* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem;
}

h3 {
    text-align: center;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-messages {
    overflow-y: auto;
    height: 100%
}

.chat-footer {
    height: 10vh;
    flex-shrink: 0;
}