* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem;
}

h3 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-header {
    height: auto;
    flex-shrink: 0;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-messages {
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
}

.chat-footer {
    height: auto;
    flex-shrink: 0;
    z-index: 99;
    align-self: flex-end;
    margin-bottom: .5rem;
}

.chat-footer form {

}

.message {
    border: 0;
    padding: 0 1.25rem;
    margin: 1px;
    border-bottom: 1px solid #ddd;
}

.message-from {
    font-weight: bold;
    margin-right: 1rem;
}

.message-content {
    overflow-x: auto;
}
